/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Colors
// Set the project colors here

$color-white: #FFF;
$color-black: #000;
$color-orange: #F94615;
$color-gray: #ccc;
$color-light-gray: #6f6f6f;
$color-dark-gray: #58585a;
$color-deep-gray: #929294;
$color-very-dark-gray: #3B3B3B;